<?xml version="1.0" encoding="utf-8"?>
<select>
	<option
        hisname="Dear Ban" 
        msg="Happy Birthday!" 
        sender="kencute.com"
        src1="images/twitter.png" 
        src2="images/facebook.png" 
        src3="images/google.png" 
        value1="activeden.net/user/sadfishing/portfolio"
        value2="activeden.net"
        value3="activeden.net/category/flash/animations"
	/>

</select>



